<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <ul>
      <% messages.map((message) => { %>
      <li>
        <%- include("message/messagebox", { text: message.text, user:
        message.user, added: message.added }) %>
      </li>
      <% }) %>
    </ul>
    <%- include("message/form", {title:"Create post"}) %>
  </body>
</html>
