<form method="POST" action="/messages/new">
  <h1><%=title%></h1>
  <div>
    <label for="username">Author:</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="message">Message:</label>
    <input type="text" name="message" id="message" />
  </div>
  <button type="submit">Post</button>
</form>
